<div id="<%= dom_id construction_site %>">
  <p>
    <strong>Name:</strong>
    <%= construction_site.name %>
  </p>

  <p>
    <strong>Starting date:</strong>
    <%= construction_site.starting_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= construction_site.end_date %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= construction_site.cost %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= construction_site.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= construction_site.number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= construction_site.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= construction_site.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= construction_site.zip_code %>
  </p>

</div>
